Label {
    white-space: normal;
}

Label.h1 {
    font-size: 24px;
    -unity-font-style: bold;
}

Label.h2 {
    font-size: 18px;
    -unity-font-style: bold;
}

Label.h3 {
    font-size: 16px;
    -unity-font-style: bold;
}

Label.h4 {
    font-size: 14px;
    -unity-font-style: bold;
}
